
            <div class="container">
                <header class="major">
                    <h2>{{ .Site.Params.footer.title | markdownify }}</h2>
                </header>
                {{ with .Site.Params.footer.description }}<p>{{ . | markdownify }}</p>{{ end }}

                <form method="post" action="//formspree.io/{{ .Site.Params.email }}">
                    <div class="row gtr-uniform">
                        {{ with .Site.Params.footer.form }}
                        <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="{{ .name }}" /></div>
                        <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="{{ .email }}" /></div>
                        <div class="col-12"><textarea name="message" id="message" placeholder="{{ .message }}" rows="4"></textarea></div>
                        <div class="col-12">
                            <ul class="actions special">
                                <li><input type="submit" value="{{ .buttonText }}" class="primary" /></li>
                            </ul>
                        </div>
                        {{ end }}
                    </div>
                </form>
            </div>

            <footer>
                <ul class="icons">
                    {{ range .Site.Params.footer.social }}
                    <li><a href="{{ .link }}" class="{{ .icon }}"><span class="label">{{ .title }}</span></a></li>
                    {{ end }}
                </ul>
                <ul class="copyright">
                    {{ range .Site.Params.footer.copyright -}}
                    <li>{{ .text | markdownify }}</li>
                    {{- end }}
                </ul>
            </footer>
