
            <header class="major">
                <h1>{{ .Site.Params.header.title | markdownify }}</h1>
                <p>{{ .Site.Params.header.description | markdownify }}</p>
            </header>

            <div class="container">
                <ul class="actions special">
                    {{ $next := index .Site.Params.block 0 }}
                    {{ if $next }}
                    <li><a href="#{{ $next.id }}" class="button primary scrolly">{{ .Site.Params.header.buttontext | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
