
            <header class="major">
                <h1>{{ .Site.Params.header.title | markdownify }}</h1>
                <p>{{ .Site.Params.header.description | markdownify }}</p>
            </header>

            <div class="container">
                <ul class="actions special">
                    {{ if .Site.Params.header.next -}}
                    <li><a href="#{{ .Site.Params.header.next }}" class="button primary scrolly">{{ .Site.Params.header.button | markdownify }}</a></li>
                    {{- end }}
                </ul>
            </div>
