
            <div class="container">
                {{ if eq .Site.Params.backgroundpersection true }}
                <span class="image fit primary"><img src="{{ .Site.BaseURL }}assets/images/{{ .block.picture }}" alt="" /></span>
                {{ end }}

                <div class="content">
                    <header class="major">
                        <h2>{{ .block.title | markdownify }}</h2>
                    </header>
                    <p>{{ .block.description | markdownify }}</p>
                </div>

                {{ if .next }}
                <a href="#{{ .next.id }}" class="goto-next scrolly">{{ .block.buttontext | markdownify }}</a>
                {{ end }}
            </div>
