
            <div class="container">
                {{ if .Site.Params.backgroundPerSection -}}
                <span class="image fit primary"><img src="{{ .Site.BaseURL }}assets/images/{{ .block.picture }}" alt="" /></span>
                {{- end }}

                <div class="content">
                    <header class="major">
                        <h2>{{ .block.title | markdownify }}</h2>
                    </header>
                    <p>{{ .block.description | markdownify }}</p>
                </div>

                {{ if .block.next -}}
                <a href="#{{ .block.next }}" class="goto-next scrolly">{{ .block.button | markdownify }}</a>
                {{- end }}
            </div>
